body {
  // характеристики основного цвета макета
  color: #8d8d8d;
  font-size: 16px;
  line-height: 26px;
}
// задается на ширину контента для конкретного макета  в глобальных стилях проекта
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}