// активный класс
$accent: #fe3e57;
// цвет текста по умолчанию - популярный в проекте
$default: #8d8d8d;
// для заголовков
$title: #29282d;
// акцентный фон
$bg: #f6f6f6;

// батарейка...наследование
%quicksand-400{
  font-family: 'Quicksand-Regular', sans-serif;
  font-weight: 400;
}
%quicksand-500{
  font-family: 'Quicksand-Medium', sans-serif;
  font-weight: 500;
}
%roboto-400{
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}
%roboto-700{
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}